@{
    //Layout = "_StarterLayout";
    //Layout = null;
    ViewData["Title"] = "Index Page";
}

<center>
<h1>@ViewData["Title"]</h1>

<p class="display-4">Go to <a href="~/Math/AnotherWizard/">Math Wizard</a></p>
</center>

